

body {
    box-sizing: border-box;
    font-family: 'Smythe', serif;
    font-size: 16px;
    position: relative;
 }

/*===TYPOGRAPHY=======*/
h1, h2, h3, p {
    margin-top: .5rem;
}

h1 {
    font-size: 39px;
    line-height: 24px;
    color: #fff;
}

h2 {
    font-size: 28px;
    line-height: 17px;
    color: #2b2a2a;
    font-family: "Smythe", serif;

}

h3 {
    font-size: 20px;
    line-height: 14px;
    color: #fff;
}

p {
    color: #686666;
}


/*===END TYPOGRAPHY===*/

main {
    width: 600px;
    min-height: 100vh;
    margin-inline: auto;
    background-color: rgb(242, 210, 155);
}

.hero {
    height: 167px;
    background-image: url("../images/bg-img.png");
    background-repeat: no-repeat;
}

.hero-text {
    padding-top: 30px;
    padding-left: 30px;
}

.menu {
    font-family: "Smythe", serif;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 1.5rem;
}
.menu img {
    width: 70px;
    height: 89px;
    object-fit: contain;
}

button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #757575;
 }

.items {
    font-family: "Smythe", serif;
    max-width: 500px;
    margin-inline: auto;
    gap: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.add-item {
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
}

.add-item button {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    width: 50px;
    height: 50px;
    color: #3c3c3c;
    font-size: 32px;
    border: 1px solid #dedede;
    border-radius: 50%;
 
 }

 .add-item button:hover {
    font-weight: bold;
    box-shadow:  0 4px 4px rgb(0 0 0 / 0.25);
    cursor: pointer;
 }

.order-title {
    text-align: center;
}

.flex {
    display: flex;
 }

.hidden {
    display: none;
}
#order-summary {
    width: 500px;
    margin-inline: auto;
}

#order-details {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#order-list {
    font-family: "Smythe", serif;
    display: grid;
    grid-template-columns: 166px 106px 226px;
    justify-content: space-between;
    margin-bottom: 1rem;
 
}

.grid-item {
    display: grid;
    justify-content: end;
}

#order-list button {
    font-family: "Smythe", serif;
    margin-top: -5px;
    font-size: 1.2rem;
}

#order-list button:hover {
    color: #686666;
    font-size: 1.4rem;
    cursor: pointer;
}

hr {
    width: 500px;
    border-top: 2px gray solid;
    margin-bottom: 1rem;
}
#total-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.price {
    font-size: 20px;
    color: #000;
}

#reset {
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    padding: 5px;
    background-color: #a5a0a0;
    color: #fff;
    margin-bottom: 5px;
    border: none;
    
}
#complete-order-btn {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #16DB99;
    color: white;
    width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    margin-inline: auto;
    margin-bottom: 30px;
}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 30%, #fff);
  backdrop-filter: blur(3px);
  z-index: -1;
    
}

#payment-module {
    display: none;
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 60%;
    left: 50%;
    border: 1px solid #757575;
    box-shadow:rgba(4, 4, 4, 0.8);
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 4;
}

.payment-content {
    width: 524px;
    margin-inline: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    padding: 70px 0;

}

input {
    width: 425px;
    padding: 15px;
    font-family: 'Merriweather', serif;    
    border: 1px #757575 solid;
  
}

.pay-btn {
    font-size: 1rem;
    width: 455px;
    padding: 15px 15px;
    background-color: #16DB99;
    margin: 30px 0;
    color: white;
    border: none;
}

.payment-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

#end-transaction {
    display: none;
    position: relative;
    width: 500px;
    background-color: #ECFDF5;
    color: #065F46;
    font-family: "Smythe", serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 60px 15px;
    margin-left: 40px;
    top: -300px;
    margin-bottom: 50px;
    box-shadow:  0 4px 4px rgb(0 0 0 / 0.25);
    z-index: 3;
}